.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  margin-top: 2rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-width: 350px;
}

.generate-button {
  background-color: var(--color2);
  color: var(--color);
  display: block;
  padding: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  width: 40%;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.1s ease-in-out;
  border: none;
}

.generate-button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.problems {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
}

.problem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  z-index: 99;
  padding: 5px;
}

.problem:nth-child(odd) {
  background-color: #9191911f;
}

.problem:hover {
  background-color: var(--color2);
}

.problem-link {
  text-decoration: none;
  color: var(--color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-problems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 2rem 0;
  color: var(--color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  animation: fadeIn 0.5s ease-in-out;
}

.rate {
  background: #fff;
  color: #333;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 999;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.rate__text {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.rate__value {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.shape-4 img {
  width: 8rem;
  height: 8rem;
  position: fixed;
  bottom: calc(50% - 4rem);
  right: calc(35% - 3rem);
  z-index: -1;
  animation: rotate2 20s linear infinite;
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    width: 80%;
  }
  
  .generate-button {
    width: 60%;
  }
  
  .problems {
    width: 100%;
  }
  
  .shape-4 img {
    display: none;
  }

  .rate {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .home-content {
    width: 100%;
  }
  
  .generate-button {
    width: 80%;
  }
  
  .problems {
    width: 100%;
  }
  .shape-4 img {
    display: none;
  }
  .rate {
    display: none;
  }
}

.hidden {
  display: none;
}
