:root {
  --background: #1a1a2e;
  --color: #ffffff;
  --color2: #0f3460;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins';
}

.login {
  position: relative;
  width: 22.2rem;
}

.login__form {
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  z-index: 99;
  padding: 2rem;
}

.login__form .login__input {
  display: block;
  padding: 14.5px;
  width: 100%;
  margin: 1rem 0;
  color: var(--color);
  outline: none;
  background-color: #9191911f;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 15px;
  backdrop-filter: blur(15px);
}

.login__form .login__input:focus {
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
  animation: wobble 0.3s ease-in;
}

.login__form button {
  background-color: var(--color2);
  color: var(--color);
  display: block;
  padding: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.1s ease-in-out;
  border: none;
}

.login__form button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.shape {
  position: absolute;
}

.shape img {
  width: 8rem;
  height: 8rem;
}

.shape-1 {
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-45%, -45%);
}

.shape-2 {
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(45%, 45%);
  animation: rotate 20s linear infinite;
}

@keyframes wobble {
  0% {
    transform: scale(1.025);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: translate(45%, 45%) rotate(0deg);
  }
  100% {
    transform: translate(45%, 45%) rotate(360deg);
  }
}


@media screen and (max-width: 768px) {
  .login {
    width: 17rem;
  }

  .shape img {
    width: 6rem;
    height: 6rem;
  }

  .login__form input {
    padding: 10px;
  }

  .login__form button {
    padding: 10px;
  }

  .login__form {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .login {
    width: 17rem;
  }

  .shape img {
    width: 6rem;
    height: 6rem;
  }

  .login__form input {
    padding: 10px;
  }

  .login__form button {
    padding: 10px;
  }

  .login__form {
    padding: 1rem;
  }
  
}
