.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.settings__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.settings__form label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.settings__form input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #4b8e8d;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.settings__form input:focus{
    outline: none;
}

.settings__form input::placeholder{
    color: #4b8e8d;
}

.settings__form input[type="text"]{
    width: 400px;
}

.settings__form input[type="number"]{
    width: 400px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}

.settings__btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.update__btn{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    margin: 10px;
    margin-right: 20px;
    background-color: #4b8e8d;
}

.logout__btn{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    margin: 10px;
    background-color: red;
    color: white;
}

.update__btn:hover{
    background-color: #4b8e8d;
    color: white;
}

.logout__btn:hover{
    background-color: rgb(156, 0, 0);
    color: white;
}

.logout__btn:focus{
    outline: none;
}

.update__btn:focus{
    outline: none;
}