/*image multiply */
body{
  background-color: #3b3b3b;
  background-image: url("https://images.pexels.com/photos/5483075/pexels-photo-5483075.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.navigation {
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  margin-top: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4b8e8d;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
  overflow: hidden;
  align-content: center;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  position: relative;
  z-index: 1;
}

.navigation__item {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.navigation__btn {
  font-size: 14px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.35s ease;
  will-change: opacity, transform, background-color;
}

.navigation__btn::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #4b8e8d;
  border-radius: 15px;
  position: absolute;
  transform: translateY(60px) scale(0.4);
  transition: all 0.35s cubic-bezier(0, 0.51, 0, 0.99);
  opacity: 0;
}
.navigation__icon {
  font-size: 50px;
  margin-bottom: 5px;
  transition: all 0.35s ease;
  will-change: opacity, transform, background-color;
}

.icon{
  color: #4b8e8d;
  font-size: 30px; 
}

.icon:hover{
  color: #4b8e8d;
  font-size: 30px; 
}

.navigation__text {
  position: absolute;
  transform: translateY(60px) skewY(-20deg);
  transform-origin: left bottom;
  color: #4b8e8d;
  font-weight: 700;
  opacity: 0;
  transition: all 0.35s ease;
  will-change: opacity, transform, background-color;
}

.navigation__btn.active .navigation__icon {
  transform: translateY(-60px) rotateX(90deg) scale(0.4) skewY(-30deg);
  opacity: 0;
}
.navigation__btn.active .navigation__text {
  opacity: 1;
  transform: translateY(-3px) skewY(0deg);
}
.navigation__btn.active::before {
  transform: translateY(12px) scale(1);
  transition: all 0.35s cubic-bezier(0, 0.51, 0, 0.99) 0.2s;
  opacity: 1;
}

@keyframes dotAnime {
  0% {
    transform: translateY(60px) scale(0.4);
    opacity: 0;
  }
  75% {
    transform: translateY(-3px) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(12px);
    opacity: 1;
  }
}
@keyframes textAnime {
  from {
    transform-origin: right center;
    transform: skewY(0) translateY(0);
  }
  25% {
    transform: skewY(0) translateY(0);
  }
  60% {
    transform: skewY(-12deg) translateY(-22px);
  }
  to {
    transform: skewY(0) translateY(-3px);
  }
}

/*
  Home js
      <div className="home">
            <h1>Home</h1>
            <ul>
                {
                    problems.map((problem) => (
                        <li key={problem.id}>
                            <a href={problem.url}>{problem.name}</a>
                        </li>
                    ))
                }
            </ul>
            <button onClick={generateProblems}>Generate</button>
        </div>
*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4b8e8d;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
  overflow: hidden;
  width: 100%;
}

.home h1 {
  font-size: 50px;
  margin: 30px;
}

.home ul{
  margin: 0;
  gap: 1rem;
  padding: 0;
  display: flex;
  list-style: none;
  place-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.home ul li{
  color: #fff;
	border-radius: 3rem;
	background: #4b8e8d;
	padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 40rem;
}

.home ul li .problem{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.home ul li .problem span {
  margin-bottom: 10px;
}
.home ul li .problem a {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

/* li animation hover */
.home ul li:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.generate-button{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #4b8e8d;
  color: white;
  font-size: 20px;
  cursor: pointer;
}