/*image multiply */
body{
  background-color: #3b3b3b;
  background-image: url("https://images.pexels.com/photos/5483075/pexels-photo-5483075.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4b8e8d;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
  overflow: hidden;
  width: 100%;
}

.home h1 {
  font-size: 50px;
  margin: 30px;
}

.home ul{
  margin: 0;
  gap: 1rem;
  padding: 0;
  display: flex;
  list-style: none;
  place-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.home ul li{
  color: #fff;
	border-radius: 3rem;
	background: #4b8e8d;
	padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 40rem;
}

.home ul li .problem{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.home ul li .problem span {
  margin-bottom: 10px;
}
.home ul li .problem a {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

/* li animation hover */
.home ul li:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.generate-button{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #4b8e8d;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.generate-button:disabled{
  background-color: #223635;
  color: white;
  cursor: not-allowed;
}